<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1><strong>Statistic</strong></h1>
<table>
    <tr>
        <td>Tim</td>
        <td>100%</td>
    </tr>
    <tr>
        <td>b</td>
        <td>80%</td>
    </tr>
    <tr>
        <td>c</td>
        <td>75%</td>
    </tr>
    <tr>
        <td>Iok</td>
        <td>50%</td>
    </tr>
    <tr>
        <td>a</td>
        <td>30%</td>
    </tr>
    <tr>
        <td>AI</td>
        <td>0%</td>
    </tr>
    <tr>
        <td>Toke</td>
        <td>0%</td>
    </tr>
    <tabcaption>
        Leaderboard
    </tabcaption>
</table>
<figure>
    <img src="StatsPic/win_rate.png"
         alt="win_rate"
         width="400"
         height="341"
    />
    <figcaption>
        Win Rate
    </figcaption>
</figure>
<figure>
    <img src="StatsPic/win_percent.png"
         alt="win_percent"
         width="400"
         height="341"
    />
    <figcaption>
        Win Percent
    </figcaption>
</figure>
<figure>
    <img src="StatsPic/globalstats.png"
         alt="globalstats"
         width="400"
         height="341"
    />
    <figcaption>
        Global
    </figcaption>
</figure>

</body>
</html>